// :host {
//   background: #f5f5f5 !important;
//   overflow: hidden;
//   padding: 24px;
//   display: block;
// }

// .card-container ::ng-deep p {
//   margin: 0;
// }
// .card-container ::ng-deep > .ant-tabs-card .ant-tabs-content {
//   height: 120px;
//   margin-top: -16px;
// }
// .card-container ::ng-deep > .ant-tabs-card .ant-tabs-content > .ant-tabs-tabpane {
//   background: #fff !important;
//   padding: 16px;
// }
// .card-container ::ng-deep > .ant-tabs-card > .ant-tabs-nav::before {
//   display: none;
// }
// .card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab {
//   border-color: transparent;
//   background: transparent;
// }
// .card-container ::ng-deep > .ant-tabs-card .ant-tabs-tab-active {
//   border-color: #fff !important;
//   background: #fff !important;
// }
nz-input-number {
    margin-right: 8px;
}